@import "tailwindcss";
@config "../../tailwind.config.js";

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .animate-whatsapp-scroll {
    animation: whatsapp-scroll 100s linear infinite;
  }
}

@keyframes whatsapp-scroll {
  0% {
    transform: translateY(100vh) translateX(0) rotate(0deg);
  }
  100% {
    transform: translateY(-100vh) translateX(calc(var(--tw-translate-x, 0) + 100px)) rotate(360deg); /* Adjust 100px for horizontal drift */
  }
}

@layer base {
  :root {
    --background: 0 0% 5%;
    --foreground: 60 17% 94%;
    --card: 0 0% 10%;
    --card-foreground: 60 17% 94%;
    --popover: 0 0% 10%;
    --popover-foreground: 60 17% 94%;
    --primary: 60 17% 94%;
    --primary-foreground: 0 0% 5%;
    --secondary: 132 31% 24%;
    --secondary-foreground: 60 17% 94%;
    --muted: 0 0% 15%;
    --muted-foreground: 0 0% 60%;
    --accent: 132 31% 24%;
    --accent-foreground: 60 17% 94%;
    --destructive: 0 100% 40%;
    --destructive-foreground: 60 17% 94%;
    --border: 60 17% 94%;
    --input: 60 17% 94%;
    --ring: 60 17% 94%;
    --radius: 0rem;
  }
  .dark {
    --background: 0 0% 5%;
    --foreground: 60 17% 94%;
    --card: 0 0% 10%;
    --card-foreground: 60 17% 94%;
    --popover: 0 0% 10%;
    --popover-foreground: 60 17% 94%;
    --primary: 60 17% 94%;
    --primary-foreground: 0 0% 5%;
    --secondary: 132 31% 24%;
    --secondary-foreground: 60 17% 94%;
    --muted: 0 0% 15%;
    --muted-foreground: 0 0% 60%;
    --accent: 132 31% 24%;
    --accent-foreground: 60 17% 94%;
    --destructive: 0 100% 40%;
    --destructive-foreground: 60 17% 94%;
    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 60 17% 94%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
